autom4te.cache/
build/
data/Makefile
data/Makefile.in
data/com.ubuntu.ubiquity.policy
data/oem-config-prepare-gtk.desktop
data/oem-config-prepare-kde.desktop
data/ubiquity.desktop
data/ubiquity-kdeui.desktop
debian/oem-config/
debian/oem-config-check/
debian/oem-config-debconf/
debian/oem-config-gtk/
debian/oem-config-kde/
debian/oem-config-remaster/
debian/oem-config-udeb/
debian/tmp/
debian/ubiquity/
debian/ubiquity-frontend-debconf/
debian/ubiquity-frontend-gtk/
debian/ubiquity-frontend-kde/
debian/ubiquity-ubuntu-artwork/
debian/autoreconf.*
debian/files
debian/kbdnames.gz
debian/*.log
debian/*.debhelper
debian/*.substvars
debian/ubiquity.dirs
debian/ubiquity.install
d-i/udeb-control/
d-i/templates
d-i/source/*.deb
d-i/source/*.udeb
d-i/source/apt-setup/debian/apt-cdrom-setup.debhelper.log
d-i/source/apt-setup/debian/apt-cdrom-setup.postrm.debhelper
d-i/source/apt-setup/debian/apt-cdrom-setup.substvars
d-i/source/apt-setup/debian/apt-cdrom-setup/
d-i/source/apt-setup/debian/apt-mirror-setup.debhelper.log
d-i/source/apt-setup/debian/apt-mirror-setup.postrm.debhelper
d-i/source/apt-setup/debian/apt-mirror-setup.substvars
d-i/source/apt-setup/debian/apt-mirror-setup/
d-i/source/apt-setup/debian/apt-setup-udeb.debhelper.log
d-i/source/apt-setup/debian/apt-setup-udeb.postrm.debhelper
d-i/source/apt-setup/debian/apt-setup-udeb.substvars
d-i/source/apt-setup/debian/apt-setup-udeb/
d-i/source/apt-setup/debian/files
d-i/source/base-installer/debian/base-installer.debhelper.log
d-i/source/base-installer/debian/base-installer.postrm.debhelper
d-i/source/base-installer/debian/base-installer.substvars
d-i/source/base-installer/debian/base-installer/
d-i/source/base-installer/debian/bootstrap-base.debhelper.log
d-i/source/base-installer/debian/bootstrap-base.postrm.debhelper
d-i/source/base-installer/debian/bootstrap-base.substvars
d-i/source/base-installer/debian/bootstrap-base/
d-i/source/base-installer/debian/files
d-i/source/base-installer/debian/templates.gen
d-i/source/base-installer/pkgdetails
d-i/source/base-installer/run-debootstrap
d-i/source/bterm-unifont/debian/bterm-unifont.debhelper.log
d-i/source/bterm-unifont/debian/bterm-unifont.substvars
d-i/source/bterm-unifont/debian/bterm-unifont/
d-i/source/bterm-unifont/debian/files
d-i/source/bterm-unifont/unifont.bgf
d-i/source/choose-mirror/choose-mirror
d-i/source/choose-mirror/choose-mirror.o
d-i/source/choose-mirror/debian/choose-mirror-bin.debhelper.log
d-i/source/choose-mirror/debian/choose-mirror-bin.postrm.debhelper
d-i/source/choose-mirror/debian/choose-mirror-bin.substvars
d-i/source/choose-mirror/debian/choose-mirror-bin.templates
d-i/source/choose-mirror/debian/choose-mirror-bin/
d-i/source/choose-mirror/debian/choose-mirror.debhelper.log
d-i/source/choose-mirror/debian/choose-mirror.substvars
d-i/source/choose-mirror/debian/files
d-i/source/choose-mirror/debian/ftplist-countries
d-i/source/choose-mirror/debian/httplist-countries
d-i/source/choose-mirror/debian/httpslist-countries
d-i/source/choose-mirror/debian/iso-codes/
d-i/source/choose-mirror/debian/iso_3166.tab
d-i/source/choose-mirror/debian/pobuild/
d-i/source/choose-mirror/mirrors_http.h
d-i/source/choose-mirror/mirrors_https.h
d-i/source/clock-setup/debian/clock-setup.debhelper.log
d-i/source/clock-setup/debian/clock-setup.postrm.debhelper
d-i/source/clock-setup/debian/clock-setup.substvars
d-i/source/clock-setup/debian/clock-setup/
d-i/source/clock-setup/debian/files
d-i/source/clock-setup/set-date-epoch
d-i/source/console-setup/Keyboard/MyKeyboardNames.pl
d-i/source/debian-installer-utils/debian/di-utils-exit-installer.debhelper.log
d-i/source/debian-installer-utils/debian/di-utils-exit-installer.postrm.debhelper
d-i/source/debian-installer-utils/debian/di-utils-exit-installer.substvars
d-i/source/debian-installer-utils/debian/di-utils-mapdevfs.debhelper.log
d-i/source/debian-installer-utils/debian/di-utils-mapdevfs.substvars
d-i/source/debian-installer-utils/debian/di-utils-mapdevfs/
d-i/source/debian-installer-utils/debian/di-utils-reboot.debhelper.log
d-i/source/debian-installer-utils/debian/di-utils-reboot.postrm.debhelper
d-i/source/debian-installer-utils/debian/di-utils-reboot.substvars
d-i/source/debian-installer-utils/debian/di-utils-shell.debhelper.log
d-i/source/debian-installer-utils/debian/di-utils-shell.postrm.debhelper
d-i/source/debian-installer-utils/debian/di-utils-shell.substvars
d-i/source/debian-installer-utils/debian/di-utils-terminfo.debhelper.log
d-i/source/debian-installer-utils/debian/di-utils-terminfo.substvars
d-i/source/debian-installer-utils/debian/di-utils-terminfo/
d-i/source/debian-installer-utils/debian/di-utils.debhelper.log
d-i/source/debian-installer-utils/debian/di-utils.postrm.debhelper
d-i/source/debian-installer-utils/debian/di-utils.substvars
d-i/source/debian-installer-utils/debian/di-utils/
d-i/source/debian-installer-utils/debian/files
d-i/source/debian-installer-utils/log-output
d-i/source/debian-installer-utils/mapdevfs
d-i/source/grub-installer/debian/files
d-i/source/grub-installer/debian/grub-installer.debhelper.log
d-i/source/grub-installer/debian/grub-installer.postrm.debhelper
d-i/source/grub-installer/debian/grub-installer.substvars
d-i/source/grub-installer/debian/grub-installer/
d-i/source/grub-installer/ensure-active
d-i/source/grub-installer/prep-bootdev
d-i/source/hw-detect/archdetect
d-i/source/hw-detect/archdetect.o
d-i/source/hw-detect/debian/archdetect-deb.debhelper.log
d-i/source/hw-detect/debian/archdetect-deb.substvars
d-i/source/hw-detect/debian/archdetect-deb/
d-i/source/hw-detect/debian/archdetect.debhelper.log
d-i/source/hw-detect/debian/archdetect.substvars
d-i/source/hw-detect/debian/archdetect/
d-i/source/hw-detect/debian/disk-detect.debhelper.log
d-i/source/hw-detect/debian/disk-detect.postrm.debhelper
d-i/source/hw-detect/debian/disk-detect.substvars
d-i/source/hw-detect/debian/disk-detect/
d-i/source/hw-detect/debian/driver-injection-disk-detect.debhelper.log
d-i/source/hw-detect/debian/driver-injection-disk-detect.postrm.debhelper
d-i/source/hw-detect/debian/driver-injection-disk-detect.substvars
d-i/source/hw-detect/debian/driver-injection-disk-detect/
d-i/source/hw-detect/debian/ethdetect.debhelper.log
d-i/source/hw-detect/debian/ethdetect.postrm.debhelper
d-i/source/hw-detect/debian/ethdetect.substvars
d-i/source/hw-detect/debian/ethdetect/
d-i/source/hw-detect/debian/files
d-i/source/hw-detect/debian/hw-detect.debhelper.log
d-i/source/hw-detect/debian/hw-detect.postrm.debhelper
d-i/source/hw-detect/debian/hw-detect.substvars
d-i/source/hw-detect/debian/hw-detect/
d-i/source/hw-detect/devnames-static.gz
d-i/source/localechooser/debian/files
d-i/source/localechooser/debian/iso-codes/
d-i/source/localechooser/debian/iso_3166.tab
d-i/source/localechooser/debian/languagelist.data
d-i/source/localechooser/debian/localechooser-data.debhelper.log
d-i/source/localechooser/debian/localechooser-data.substvars
d-i/source/localechooser/debian/localechooser-data/
d-i/source/localechooser/debian/localechooser.debhelper.log
d-i/source/localechooser/debian/localechooser.postrm.debhelper
d-i/source/localechooser/debian/localechooser.substvars
d-i/source/localechooser/debian/localechooser/
d-i/source/localechooser/debian/pobuild/
d-i/source/localechooser/debian/short-tmp/
d-i/source/localechooser/debian/templates
d-i/source/localechooser/debian/templates.base
d-i/source/localechooser/debian/templates.base-in
d-i/source/localechooser/debian/templates.continents
d-i/source/localechooser/debian/templates.tmp
d-i/source/netcfg/autoconfig.o
d-i/source/netcfg/debian/files
d-i/source/netcfg/debian/netcfg-static.debhelper.log
d-i/source/netcfg/debian/netcfg-static.postrm.debhelper
d-i/source/netcfg/debian/netcfg-static.substvars
d-i/source/netcfg/debian/netcfg-static/
d-i/source/netcfg/debian/netcfg.debhelper.log
d-i/source/netcfg/debian/netcfg.substvars
d-i/source/netcfg/debian/netcfg/
d-i/source/netcfg/*.o
d-i/source/netcfg/netcfg
d-i/source/netcfg/netcfg-static
d-i/source/netcfg/test/run
d-i/source/netcfg/test/*.o
d-i/source/netcfg/*.o
d-i/source/partconf/debian/files
d-i/source/partconf/debian/partconf-find-partitions.debhelper.log
d-i/source/partconf/debian/partconf-find-partitions.substvars
d-i/source/partconf/debian/partconf-find-partitions/
d-i/source/partconf/debian/partconf-mkfstab.debhelper.log
d-i/source/partconf/debian/partconf-mkfstab.substvars
d-i/source/partconf/debian/partconf-mkfstab/
d-i/source/partconf/debian/partconf.postinst
d-i/source/partconf/find-partitions
d-i/source/partconf/*.o
d-i/source/partconf/mkfstab
d-i/source/partconf/mountpoint
d-i/source/partconf/partconf
d-i/source/partman-auto-crypto/debian/files
d-i/source/partman-auto-crypto/debian/partman-auto-crypto.debhelper.log
d-i/source/partman-auto-crypto/debian/partman-auto-crypto.postrm.debhelper
d-i/source/partman-auto-crypto/debian/partman-auto-crypto.substvars
d-i/source/partman-auto-crypto/debian/partman-auto-crypto/
d-i/source/partman-auto-loop/debian/files
d-i/source/partman-auto-loop/debian/partman-auto-loop.debhelper.log
d-i/source/partman-auto-loop/debian/partman-auto-loop.postrm.debhelper
d-i/source/partman-auto-loop/debian/partman-auto-loop.substvars
d-i/source/partman-auto-loop/debian/partman-auto-loop/
d-i/source/partman-auto-lvm/debian/files
d-i/source/partman-auto-lvm/debian/partman-auto-lvm.debhelper.log
d-i/source/partman-auto-lvm/debian/partman-auto-lvm.postrm.debhelper
d-i/source/partman-auto-lvm/debian/partman-auto-lvm.substvars
d-i/source/partman-auto-lvm/debian/partman-auto-lvm/
d-i/source/partman-auto/debian/files
d-i/source/partman-auto/debian/partman-auto.debhelper.log
d-i/source/partman-auto/debian/partman-auto.postrm.debhelper
d-i/source/partman-auto/debian/partman-auto.substvars
d-i/source/partman-auto/debian/partman-auto/
d-i/source/partman-base/debian/files
d-i/source/partman-base/debian/partman-base.debhelper.log
d-i/source/partman-base/debian/partman-base.postrm.debhelper
d-i/source/partman-base/debian/partman-base.substvars
d-i/source/partman-base/debian/partman-base/
d-i/source/partman-base/debian/partman-utils.debhelper.log
d-i/source/partman-base/debian/partman-utils.substvars
d-i/source/partman-base/debian/partman-utils/
d-i/source/partman-base/parted_devices
d-i/source/partman-base/parted_server
d-i/source/partman-base/partmap
d-i/source/partman-basicfilesystems/debian/files
d-i/source/partman-basicfilesystems/debian/partman-basicfilesystems.debhelper.log
d-i/source/partman-basicfilesystems/debian/partman-basicfilesystems.postrm.debhelper
d-i/source/partman-basicfilesystems/debian/partman-basicfilesystems.substvars
d-i/source/partman-basicfilesystems/debian/partman-basicfilesystems/
d-i/source/partman-basicmethods/debian/files
d-i/source/partman-basicmethods/debian/partman-basicmethods.debhelper.log
d-i/source/partman-basicmethods/debian/partman-basicmethods.postrm.debhelper
d-i/source/partman-basicmethods/debian/partman-basicmethods.substvars
d-i/source/partman-basicmethods/debian/partman-basicmethods/
d-i/source/partman-btrfs/debian/files
d-i/source/partman-btrfs/debian/partman-btrfs.debhelper.log
d-i/source/partman-btrfs/debian/partman-btrfs.postrm.debhelper
d-i/source/partman-btrfs/debian/partman-btrfs.substvars
d-i/source/partman-btrfs/debian/partman-btrfs/
d-i/source/partman-crypto/blockdev-wipe/blockdev-wipe
d-i/source/partman-crypto/debian/files
d-i/source/partman-crypto/debian/partman-crypto-dm.debhelper.log
d-i/source/partman-crypto/debian/partman-crypto-dm.substvars
d-i/source/partman-crypto/debian/partman-crypto-dm/
d-i/source/partman-crypto/debian/partman-crypto.debhelper.log
d-i/source/partman-crypto/debian/partman-crypto.postrm.debhelper
d-i/source/partman-crypto/debian/partman-crypto.substvars
d-i/source/partman-crypto/debian/partman-crypto/
d-i/source/partman-efi/debian/files
d-i/source/partman-efi/debian/partman-efi.debhelper.log
d-i/source/partman-efi/debian/partman-efi.postrm.debhelper
d-i/source/partman-efi/debian/partman-efi.substvars
d-i/source/partman-efi/debian/partman-efi/
d-i/source/partman-ext3/debian/files
d-i/source/partman-ext3/debian/partman-ext3.debhelper.log
d-i/source/partman-ext3/debian/partman-ext3.postrm.debhelper
d-i/source/partman-ext3/debian/partman-ext3.substvars
d-i/source/partman-ext3/debian/partman-ext3/
d-i/source/partman-jfs/debian/files
d-i/source/partman-jfs/debian/partman-jfs.debhelper.log
d-i/source/partman-jfs/debian/partman-jfs.postrm.debhelper
d-i/source/partman-jfs/debian/partman-jfs.substvars
d-i/source/partman-jfs/debian/partman-jfs/
d-i/source/partman-lvm/debian/files
d-i/source/partman-lvm/debian/partman-lvm.debhelper.log
d-i/source/partman-lvm/debian/partman-lvm.postrm.debhelper
d-i/source/partman-lvm/debian/partman-lvm.substvars
d-i/source/partman-lvm/debian/partman-lvm/
d-i/source/partman-partitioning/debian/files
d-i/source/partman-partitioning/debian/partman-partitioning.debhelper.log
d-i/source/partman-partitioning/debian/partman-partitioning.postrm.debhelper
d-i/source/partman-partitioning/debian/partman-partitioning.substvars
d-i/source/partman-partitioning/debian/partman-partitioning/
d-i/source/partman-target/debian/files
d-i/source/partman-target/debian/partman-target.debhelper.log
d-i/source/partman-target/debian/partman-target.postrm.debhelper
d-i/source/partman-target/debian/partman-target.substvars
d-i/source/partman-target/debian/partman-target/
d-i/source/partman-xfs/debian/files
d-i/source/partman-xfs/debian/partman-xfs.debhelper.log
d-i/source/partman-xfs/debian/partman-xfs.postrm.debhelper
d-i/source/partman-xfs/debian/partman-xfs.substvars
d-i/source/partman-xfs/debian/partman-xfs/
d-i/source/preseed/debian/env-preseed.debhelper.log
d-i/source/preseed/debian/env-preseed.substvars
d-i/source/preseed/debian/env-preseed/
d-i/source/preseed/debian/file-preseed.debhelper.log
d-i/source/preseed/debian/file-preseed.postrm.debhelper
d-i/source/preseed/debian/file-preseed.substvars
d-i/source/preseed/debian/files
d-i/source/preseed/debian/initrd-preseed.debhelper.log
d-i/source/preseed/debian/initrd-preseed.substvars
d-i/source/preseed/debian/initrd-preseed/
d-i/source/preseed/debian/network-preseed.debhelper.log
d-i/source/preseed/debian/network-preseed.postrm.debhelper
d-i/source/preseed/debian/network-preseed.substvars
d-i/source/preseed/debian/network-preseed/
d-i/source/preseed/debian/preseed-common.debhelper.log
d-i/source/preseed/debian/preseed-common.postrm.debhelper
d-i/source/preseed/debian/preseed-common.substvars
d-i/source/preseed/debian/preseed-common/
d-i/source/tzsetup/debian/files
d-i/source/tzsetup/debian/iso_3166.tab
d-i/source/tzsetup/debian/tzmap
d-i/source/tzsetup/debian/tzsetup-udeb.debhelper.log
d-i/source/tzsetup/debian/tzsetup-udeb.postrm.debhelper
d-i/source/tzsetup/debian/tzsetup-udeb.substvars
d-i/source/tzsetup/debian/tzsetup-udeb/
d-i/source/user-setup/debian/files
d-i/source/user-setup/debian/user-setup-udeb.debhelper.log
d-i/source/user-setup/debian/user-setup-udeb.postrm.debhelper
d-i/source/user-setup/debian/user-setup-udeb.substvars
d-i/source/user-setup/debian/user-setup-udeb/
d-i/source/user-setup/debian/user-setup.debhelper.log
d-i/source/user-setup/debian/user-setup.postrm.debhelper
d-i/source/user-setup/debian/user-setup.substvars
d-i/source/user-setup/debian/user-setup/
m4/
pixmaps/Makefile
pixmaps/Makefile.in
pixmaps/ubiquity.xpm
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.gmo
po/*.sin
po/*.sed
po/*.header
src/Makefile
src/Makefile.in
src/mockresolver/*o
src/mockresolver/*.l*
src/mockresolver/*.gir
src/mockresolver/*.typelib
src/mockresolver/Makefile
src/mockresolver/Makefile.in
src/panel/panel
src/panel/Makefile
src/panel/Makefile.in
src/panel/*.o
src/wallpaper/*.o
src/wallpaper/Makefile
src/wallpaper/Makefile.in
src/wallpaper/wallpaper
tests/partman-tree/
tests/__pycache__/
tests/config.*
tests/debconfdb
tests/debconf-stamp
tests/templates.dat
ubiquity/__pycache__
ubiquity/components/__pycache__
ubiquity/frontend/__pycache__
ubiquity/frontend/gtk_components/__pycache__/
ubiquity/plugins/__pycache__
ubiquity/__pycache__
ubiquity/.pyc
ABOUT-NLS
aclocal.m4
build-stamp
config.*
configure
install-stamp
libtool
Makefile
Makefile.in
stamp-*
!.git*
.git/
