autom4te.cache/
build/
data/Makefile
data/Makefile.in
data/com.ubuntu.ubiquity.policy
data/oem-config-prepare-gtk.desktop
data/oem-config-prepare-kde.desktop
data/ubiquity.desktop
data/ubiquity-kdeui.desktop
debian/oem-config/
debian/oem-config-check/
debian/oem-config-debconf/
debian/oem-config-gtk/
debian/oem-config-kde/
debian/oem-config-remaster/
debian/oem-config-udeb/
debian/tmp/

debian/ubiquity/
debian/ubiquity-frontend-debconf/
debian/ubiquity-frontend-gtk/
debian/ubiquity-frontend-kde/
debian/ubiquity-ubuntu-artwork/
debian/autoreconf.*
debian/files
debian/kbdnames.gz
debian/*.log
debian/*.debhelper
debian/*.substvars
d-i/udeb-control/
d-i/templates
d-i/source/*.deb
d-i/source/*.udeb
m4/
pixmaps/Makefile
pixmaps/Makefile.in
src/Makefile
src/Makefile.in
src/mockresolver/*o
src/mockresolver/*.l*
src/mockresolver/*.gir
src/mockresolver/*.typelib
src/mockresolver/Makefile
src/mockresolver/Makefile.in
src/panel/panel
src/panel/Makefile
src/panel/Makefile.in
src/panel/*.o
src/wallpaper/*.o
src/wallpaper/Makefile
src/wallpaper/Makefile.in
src/wallpaper/wallpaper
tests/partman-tree/
tests/__pycache__/
tests/config.*
tests/debconfdb
tests/debconf-stamp
tests/templates.dat
ubiquity/__pycache__
ubiquity/components/__pycache__
ubiquity/frontend/__pycache__
ubiquity/plugins/__pycache__
ubiquity/__pycache__
ubiquity/.pyc
ABOUT-NLS
aclocal.m4
build-stamp
config.*
configure
install-stamp
libtool
Makefile
Makefile.in
stamp-*
!.git*
.git/
